/* *  */

.app-wrapper {
  min-height: 100vh;
  background: #f4f6fa;
}

/* utility classes if any */
.text-center {
  text-align: center;
}

/* ================= SIDEBAR ================= */



/* ================= MAIN CONTENT ================= */


/* ================= TOPBAR ================= */

/* ================= CENTER TITLE ================= */


