/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* important */
  overflow-y: auto;
}

/* Common elements */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
