.table-wrapper {
  background: white;
  padding: 18px;
  /* height: 200px; */
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
}

.app-table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
  border-spacing: 0;
  min-width: 1100px;
  white-space: nowrap;
}

.app-table thead th {
  position: sticky;
  top: 0;
  background: #f8fafc;
  font-size: 15px;
  font-weight: 600;
  color: #475569;
  padding: 14px 16px;
  border-bottom: 1px solid #e5e7eb;
  z-index: 2;
}

.app-table tbody tr {
  transition: all 0.25s ease;
}

.app-table tbody tr:hover {
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.06), rgba(99, 102, 241, 0.02));
  transform: scale(1.005);
}

.app-table td {
  padding: 0 12px;
  font-size: 14px;
  border-bottom: 1px solid #f1f5f9;
}

.app-table tr:hover {
  background: #f8fafc;
}

.table-actions {
  display: flex;
  gap: 10px;
}

.table-actions button {
  /* background: #f1f5f9; */
  /* border: none; */
  border: 1px solid #e5e7eb;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.table-actions button:hover {
  background: #e0e7ff;
}

.table-actions button.danger:hover {
  background: #fee2e2;
  color: #dc2626;
}

.app-table tr {
  transition: background 0.2s ease;
}

.app-table tr:hover {
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.05), transparent);
}

.table-actions .icon {
  border: none;
  background: #f1f5f9;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* COLORS */
.icon.view {
  color: #2563eb;
}

.icon.edit {
  color: #7c3aed;
}

.icon.pay {
  color: #16a34a;
}

.icon.topup {
  color: #f97316;
}

.icon.delete {
  color: #dc2626;
}

/* HOVER */
.icon:hover {
  transform: translateY(-3px) scale(1.15);
  background: #e0e7ff;
}

.icon.delete:hover {
  background: #fee2e2;
}
